.commitment{
    // background: url(/img/img-our.png) no-repeat;
    // height: 100vh;
    background-image: url(/img/img-our.png);
    background-repeat: no-repeat;
    height: 520px; 
    margin-top: 150px; 
    margin-left: 80px;

      
}


.commitment__text{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    
    margin-left: 800px;
    padding-top: 100px;

}

.commitment > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    
    margin-left: auto;
    width: 600px;
}

.quelity{
    background-image: url(/img/img-qoulity.png);
    background-repeat: no-repeat;
    height: 500px;

    
}

.quelity__text{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;

    padding-top: 100px;
    padding-left: 90px;
    
}

.quelity__texts{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;

    width: 540px;
    padding-left: 90px;    
}


.our-head__text{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;

}